$--color-red: #E53935;
$--color-white: #FFFFFF;
$--color-black: #212121;

.--btn{
    &.--btn-primary{
        background-color: $--color-red;

        &:hover{
            background-color: lighten($--color-red, 9%);
        }
    }
}

span.--logo-text{
    background-color: $--color-red;
    color: $--color-white;
}

.--badge{

    &.--badge-primary{
        background-color: $--color-red;
        color: $--color-white;
    }
}

.--token-grid{

    .--token-nominal{

        &:hover,
        &.--active{
            border-color: $--color-red;
        }
    }
}

.--homepage-theme{

    .--theme{

        
        &.--active{
            border: 1px solid $--color-red;
            color: $--color-black;
        }
        
        &:hover:not(.--active){
            background-color: lighten($--color-red, 40%);
            color: $--color-black;
        }
    }
}


body#dimmed,
body#blackout{
    .--btn{
        &.--btn-primary{
            background-color: lighten($--color-red, 7%);
    
            &:hover{
                background-color: lighten($--color-red, 15%);
            }
        }
    }
    
    span.--logo-text{
        background-color: lighten($--color-red, 7%);
        color: $--color-white;
    }
    
    .--badge{
    
        &.--badge-primary{
            background-color: lighten($--color-red, 7%);
            color: $--color-white;
        }
    }
    
    .--token-grid{
    
        .--token-nominal{
    
            &:hover,
            &.--active{
                border-color: lighten($--color-red, 7%);
            }
        }
    }
    
    .--homepage-theme{
    
        .--theme{
    
            
            &.--active{
                border: 1px solid lighten($--color-red, 7%);
                color: $--color-white;
            }
            
            &:hover:not(.--active){
                background-color: lighten($--color-red, 20%);
                color: $--color-black;
            }
        }
    }
}